<h1>Welcome to Medicine App!</h1>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
</div><!-- /input-group -->
<div>
    <table class="table">
        <tr>
            <th>Test Name</th>
            <th>Sample Requirements</th>
            <th>Reference Range</th>
            <th>Availability/Notes</th>
        </tr>
        <tr ng-repeat="test in tests | filter:searchText">
            <td>{{test.testName}}</td>
            <td>{{test.samleRequirements}}</td>
            <td>{{test.referenceRange}}</td>
            <td>{{test.availabilityNotes}}</td>
        </tr>
    </table>
</div>
