<br>
<form class="navbar-form" role="search" ng-init="advancedSearch=false">
    <div class="input-group">

        <input type="text" class="form-control ng-pristine ng-valid" ng-model="query.$" ng-change="updateFilteredList()"
               placeholder="Search here...">

        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="advancedSearch=!advancedSearch">Advanced Search <span
            class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
    <button type="button" class="btn btn-primary" ng-csv="filteredList"
            csv-header="['Test Name', 'Sample Requirements', 'Reference Range','Availability Notes']"
            filename="Medical_Tests.csv">Export to CSV<span class="glyphicon glyphicon-download-alt"
                                                            aria-hidden="true"></span></button>

    <select ng-model="config.itemsPerPage" class="form-control ng-pristine ng-valid">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="250">250</option>
        <option value="1000">All</option>
    </select>
    <i>TestsPerPage</i>
</form>
<br>
<div class="panel panel-primary" ng-show="advancedSearch">
    <div class="panel-heading">
        <h3 class="panel-title">Advanced Search</h3>
    </div>
    <form class="navbar-form" role="search">

        <div class="input-group">
            <label>Test Name</label>
            <input type="text" class="form-control ng-pristine ng-valid" ng-model="query.testName"
                   ng-change="updateFilteredList()" placeholder="Search here...">
        </div>
        <div class="input-group">
            <label>Sample Requirements</label>
            <input type="text" class="form-control ng-pristine ng-valid" ng-model="query.samleRequirements"
                   ng-change="updateFilteredList()" placeholder="Search here...">
        </div>
        <div class="input-group">
            <label>Reference Range</label>
            <input type="text" class="form-control ng-pristine ng-valid" ng-model="query.referenceRange"
                   ng-change="updateFilteredList()" placeholder="Search here...">
        </div>
        <div class="input-group">
            <label>Availability Notes</label>
            <input type="text" class="form-control ng-pristine ng-valid" ng-model="query.availabilityNotes"
                   ng-change="updateFilteredList()" placeholder="Search here...">
        </div>
        <div class="input-group">
            <label>Laboratory</label>
            <select ng-model="query.Laboratory" class="form-control ng-pristine ng-valid"
                    ng-change="updateFilteredList()">
                <option value="">All</option>
                <option value="Biochemistry">Biochemistry</option>
                <option value="Blood Transfusion">Blood Transfusion</option>
                <option value="Immunology">Immunology</option>
                <option value="Haematology">Haematology (all)</option>
                <option value="Microbiology">Microbiology</option>
                <option value="Neurogenetics Laboratory">Neurogenetics Laboratory</option>
                <option value="Parasitology">Parasitology</option>
                <option value="Red Cell Immunohaematology Department">Red Cell Immunohaematology Department</option>
                <option value="Red Cell Immunogenetics Department">Red Cell Immunogenetics Department</option>

            </select>
        </div>
        <div class="input-group">
            <label>Cost</label>
            <input type="text" class="form-control ng-pristine ng-valid" ng-model="query.Cost"
                   ng-change="updateFilteredList()" placeholder="Search here...">
        </div>
        <div class="input-group">
            <label>TurnaroundTime</label>
            <input type="text" class="form-control ng-pristine ng-valid" ng-model="query.TurnaroundTime"
                   ng-change="updateFilteredList()" placeholder="Search here...">
        </div>
    </form>

</div>


<table class="table table-striped" at-table at-paginated at-list="filteredList" at-config="config">
    <thead>
    <tr>
        <th at-attribute="testName">Test Name</th>
        <th at-attribute="samleRequirements">Sample Requirements</th>
        <th at-attribute="referenceRange">Reference Range</th>
        <th at-attribute="availabilityNotes">Availability Notes</th>
        <th at-attribute="Laboratory">Laboratory</th>
        <th at-attribute="Cost">Cost</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td at-implicit at-attribute="testName" at-initial-sorting="asc"></td>
        <td at-attribute="samleRequirements">

                <div class="extra-space" ng-repeat="sample in splitString(item.samleRequirements)">{{sample}}</div>

        </td>

        <td at-attribute="referenceRange">

                <div class="extra-space" ng-repeat="range in splitString(item.referenceRange)">{{range}}</div>

        </td>
        <td at-attribute="availabilityNotes">
                <div class="extra-space" ng-repeat="notes in splitString(item.availabilityNotes)">{{notes}}</div>
        </td>
        <td at-implicit at-attribute="Laboratory"></td>
        <td at-attribute="Cost">

                <div class="extra-space" ng-repeat="co in splitString(item.Cost)">{{co}}</div>
        </td>
        <td at-attribute="turnaroundTime">

                <div class="extra-space" ng-repeat="turn in splitString(item.turnaroundTime)">{{turn}}</div>

        </td>
    </tr>
    </tbody>
</table>
<at-pagination at-list="filteredList" at-config="config"></at-pagination>
